#ErrorWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}

#Error {
  text-align: center;
  font-size: clamp(2rem, 7vw, 3.5rem);
  letter-spacing: 1.5px;
  font-weight: bold;
  color: #dc3545;
  text-shadow: #96222e 0 3px;
  margin-bottom: 17px;
}

#ErrorDetails {
  text-align: center;
  font-size: clamp(1rem, 4vw, 1.8rem);
  font-weight: thin;
  color: var(--text-color);
  text-shadow: var(--text-shadow) 0 2px;
}
