#LandingImageSection {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url('/shaders-night.png');
    background-repeat: no-repeat;
    background-size: cover;
}

@media (prefers-color-scheme: light) {
    #LandingImageSection {
        background-image: url('/shaders-day.png');
    }
}

#Title {
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    top: calc(50vh + 20px);
    left: 50vw;
    
    width: 100%;
    display: flex;
    flex-wrap: initial;
    align-items: center;
    justify-content: space-evenly;

    font-size: 90px;
    line-height: 105px;
    font-weight: bold;
    color: var(--text-color);
    text-shadow: var(--text-shadow) 0 4px, var(--text-glow) 0 0 20px;
    user-select: none;
}

#Title iframe {
    height: 450px;
    border-radius: 6px;
    aspect-ratio: 4 / 5;
}

#Title a {
    color: var(--discord-blue);
    text-shadow: var(--discord-blue-shadow) 0 4px, var(--text-glow) 0 0 20px;
}

@media (max-width: 1040px) {
    #Title iframe {
        display: none;
    }
}

@media (max-height: 540px), (max-width: 880px) {
    #Title {
        font-size: 65px;
        line-height: 80px;
    }

    #Title iframe {
        height: 350px;
    }
}

@media (max-width: 540px) {
    #Title {
        font-size: 13vw;
        line-height: 14vw;
    }
}