#Title {
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  top: calc(50vh + 30px);
  left: 50vw;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 20px;

  font-size: min(11vw, 11vh);
  line-height: min(13vw, 13vh);
  font-weight: bold;
  color: var(--text-color);
  text-shadow: var(--text-shadow) 0 2px, var(--text-glow) 0 0 20px;
  user-select: none;
}

#Title iframe {
  height: 52vh;
  width: 25vw;
  /* max-width: 430px; */
  border-radius: 6px;
}

#Title a {
  color: var(--discord-light-blue);
  text-shadow: var(--discord-blue-shadow) 0 2px, var(--text-glow) 0 0 20px;
  text-decoration-thickness: 8px;
  transition: color 0.2s;
}

#Title a:hover {
  color: var(--discord-blue);
}

@media (max-width: 1200px) {
  #Title {
    font-size: min(13.5vw, 13.5vh);
    line-height: min(14.5vw, 14.5vh);
  }

  #Title iframe {
    display: none;
  }
}