#TitleSection {
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    top: calc(50vh + 30px);
    left: 50vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Title {
    text-align: center;
    font-size: clamp(1rem, min(4.5vw, 4.5vh), 2.2rem);
    font-weight: bold;
    color: var(--scrims-cream);
    text-shadow: var(--scrims-cream-shadow) 0 3px;
    padding: 0px 14px;
    user-select: none;
    margin-bottom: -3px;
}

#IpButton {
    margin-top: 5px;
    margin-bottom: -6px;
    padding: 0;
}

#Ip {
    font-size: clamp(1rem, min(6.5vw, 6.5vh), 3.8rem);
    font-weight: bold;
    color: var(--text-color);
    text-shadow: var(--text-shadow) 0 3px;
    user-select: text;
    margin: 0;
}

@media (prefers-color-scheme: light) {
    #Title {
        color: var(--scrims-cream);
        text-shadow: var(--scrims-cream-shadow) 0 3px;
    }
}