#TitleSection {
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  top: calc(50vh + 30px);
  left: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Title {
  text-align: center;
  font-size: clamp(1rem, min(5.6vw, 5.6vh), 2.2rem);
  font-weight: thin;
  color: white;
  letter-spacing: 1px;
  padding: 0px 14px;
  user-select: none;
}

#IpButton {
  font-size: clamp(1.4rem, min(7.5vw, 7.5vh), 3.8rem);
  margin-top: 5px;
  padding: 0;
  transition-duration: 0.2s;
  background-color: transparent;
  border: 3px solid transparent;
  font-weight: bold;
  color: white;
  user-select: text;
  margin-bottom: -8px;
  padding: 0px 20px;
}

#IpButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#Copied {
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateY(50%) translateX(-50%);

  min-width: 210px;
  background-color: var(--scrims-blue);
  color: white;
  padding: 5px 20px;
  user-select: none;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 1s;
}
