:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --background-color: #FFFFFF;
  --header-color: #00000040;

  --text-color: #FFFFFF;
  --text-shadow: #8b8b8b;
  --text-glow: #00000034;

  --discord-blue: rgb(124, 124, 238);
  --discord-blue-shadow: #6f71eb60;

  --scrims-red: #A24F4E;
  --scrims-red-shadow: #8B3939;

  --scrims-cream: #FFEBD9;
  --scrims-cream-shadow: #726c66;

  --scrims-blue: #554565;
  --scrims-blue-shadow: #453357;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-glow: #ffffff34;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font: inherit;
  color: inherit;
}

html,
body,
#__next,
#__app {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

button {
  background: none;
  outline: none;
  border: none;
}

i.bi {
  display: grid;
}

*:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}